<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="frags/common_layout :: pageHeader('Current Deals')"></head>

  <body>
    <!-- include a fragment -->
    <header th:replace="frags/common_layout :: top"></header>

    <h1>Welcome to Our Products Page</h1>
    <hr>

    <section>
      <h2>Deal of the Week: <span th:text="${highlighted.name}"></span></h2>
      <p th:text="${highlighted.name} + ': $' + ${highlighted.price}"></p>
    </section>

    <section>
      <h2>Other products</h2>

      <div class="product" th:each="product : ${products}"
           th:if="${!products.isEmpty()}">
        <h3 th:text="${product.name}"></h3>
        <ul>
          <li th:text="'Price: $' + ${product.price}"></li>
          <li th:text="'Description: ' + ${product.description}"></li>
          <li th:text="'On Sale?: ' + ${product.onSale}"></li>
          <li><a th:href="@{'/products/individual/' + ${product.name}}">View</a></li>
        </ul>
        <hr>
      </div>
      <div th:if="${products.isEmpty()}">No products found</div>
    </section>

    <!-- include a fragment -->
    <footer th:replace="frags/common_layout :: bottom"></footer>
  </body>
</html>