<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Video Uploads</title>
    </head>
    <body>
        <h1>Uploads</h1>

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Url</th>
                    <th>Length</th>
                    <th>Favorited</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="upload : ${uploads}">
                    <td th:text="${upload.id}"></td>
                    <td th:text="${upload.url}"></td>
                    <td th:text="${upload.length}"></td>
                    <td th:text="${upload.favorited}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>