<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>Upload</title>
  </head>
  <body>
    <h1>A single upload</h1>
    <ul>
        <li th:text="'Id: ' + ${upload.uploadId}"></li>
        <li th:text="'Url: ' + ${upload.url}"></li>
        <li th:text="'Length: ' + ${upload.length}"></li>
        <li th:text="'Favorited: ' + ${upload.favorited}"></li>
        <li th:text="'Author: ' + ${upload.author == null ? 'anonymous' : upload.author.name}"></li>
    </ul>
  </body>
</html>